@import url("https://font.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

/* $primary-color: #131086;
$secondary-color: #b621f3; */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter" sans-serif;
  padding: 40px;
  background: linear-gradient(45deg, #131086, #b621f3);
}

.container {
  min-height: calc(100vh - 40px * 2);
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  overflow: hidden;
}
.login-left {
  display: flex;
  flex-direction: column;
  justify-content: content;
  padding-left: 150px;
  background-color: white;
}

.login-right {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.login-right img {
  width: 100%;
}

login-header {
  width: 450px;
}

login-header h1 p {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.form-item label:not(checkboxLable) {
  display: inline-block;
  background-color: white;
  padding-top: 10px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  transition: background 0.5s;
  font-size: 18px;
  border-radius: 100px;
}
